body{
    background-color: black;
}


.container{
    display: flex;
    width:1vw;
    height:auto;
}

.card{
    padding: 1em;
    margin:0 2em 0 2em;   
}

img{
    width: 60vw;
    height:auto;
}
.breath{
    animation: breath 2.5s infinite; 
}

  @keyframes breath {
    0%{
        opacity:70%;
    }
    50%{
        opacity:100%
    }
    100%{
        opacity:70%;
    }
  }


button{
    background-color:transparent;
    color: white;
    border:none;
    padding: 1em;
    color:white;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: bold;


    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
   
   /* smaller cellphones: */
   @media screen and (max-width: 769px){

}

/* ipad*/
@media screen and (min-width:1023px){

    img{
        width: 30vw;
        height:auto;
    }
}

/* large laptop*/
@media screen and (min-width:1349px){
    img{
        width: 20vw;
        height:auto;
    }
}

/* 4k: */
@media screen and (min-width:2449px){
    img{
        width: 20vw;
        height:auto;
    }
}