:root {
	--spacing: 5em;
}

body{
    padding: var(--spacing);
    padding-bottom: 5vh;
}

h1{
    margin:0;
}
h2{
    margin:0.125em 0em 0.125em 0em;
    color:rgb(130, 130, 130);
}

li{
    margin:0.125em 0em 0.125em 0em;
    color: black;
}

ul {
    list-style-type:none;
    margin: 0 0 0 0.125em;
    padding: 0;
  }

a{
    text-decoration: none;
}

li:hover{
    color:rgb(142, 40, 40);
}

.title{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size:140%;
    line-height: 200%;
    letter-spacing: -0.0125em;
}
.main{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size:100%;
    line-height: 150%;

    display: flex;
    flex-direction: row;
    text-transform: uppercase;

    padding-top:calc(var(--spacing)/3.5);
}

 /* smaller cellphones: */
 @media screen and (max-width: 769px){
    body{
        padding: calc(var(--spacing)/3.5);
        padding-bottom: 5vh;
    }
    .title{
        font-size:100%;
        line-height: 200%;
        letter-spacing: -0.0125em;
    }
    .main{
        font-size:80%;
        line-height:150%;
    }
 }
 
 /* large screen laptop: */
 @media screen and (min-width:1349px){
    .title{
        font-size: 200%;
        letter-spacing: -0.025em;
        line-height: 200%;
    }
    h2{
        margin:0.5em 0em 0.5em 0em;
    }
    .main{
        font-size:150%;
        line-height: 150%;
    }
 }
 
 /* 4k: */
 @media screen and (min-width:2449px){
    .title{
        font-size: 275%;
        letter-spacing: -0.025em;
        line-height: 225%;
    }
    h2{
        margin:0.75em 0em 0.75em 0em;
    }
    .main{
        font-size:250%;
        line-height: 250%;

        padding-top:calc(var(--spacing)/5.5);
    }

 }